* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header-box {
  /*dopo centralizza queste due regole*/
  width: 70%;
  margin: 0 auto;

  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  height: 130px;
  background-color: black;
  display: flex;
  align-items: center;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.content-box * {
  color: white;
}


header img {
  height: 80px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.orizzontal-nav-box {
  height: 155px;
  background-color: #0282F9;
}

.orizzontal-nav ul{
  display: flex;
}


