* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header-box {
  /*dopo centralizza queste due regole*/
  width: 70%;
  margin: 0 auto;

  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  height: 130px;
  background-color: black;
  display: flex;
  align-items: center;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.content-box * {
  color: white;
}


header img {
  height: 80px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

header a {
  font-weight: 600;
}

.orizzontal-nav-box {
  height: 140px;
  background-color: #0282F9;
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  top: 0;
  z-index: 1;
}

.orizzontal-nav {
  width: 65%;
  margin: 0 auto;
}

.orizzontal-nav ul{
  display: flex; 
  align-items: center;
  list-style: none;
  justify-content: space-between;
}


li div{
  display: flex; 
  align-items: center;
}

.orizzontal-nav a {
  color: white;
}

.orizzontal-nav img {
  color: white;
  height: 55px;
}

.vertical-nav-box {
  height: 360px;
  background-image: url("./img/footer-bg.jpg");
  display: flex;
}

.vertical-nav ul {
  display: flex;
  flex-direction: column;
  max-height: 263px;
  list-style: none;
}

.vertical-nav * {
  color: white;
}

.vertical-nav {
  max-height: 263px;
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-between;
}

.vertical-nav-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
}

.vertical-nav-section div{
  margin-right: 10px;
}

.vertical-nav-section a{
 color: #8b8b8b;
}


.vertical-nav-section h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-nav img {
  transform: scale(2);
  position: relative;
  right: 0;
  top: 0;
  z-index: 0;
}

.footer-box {
  height: 110px;
  background-color: #303030;
  display: flex;
  color: white;
  position: relative;
  
}

.my-footer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-box img {
  width: 35px;
  height: 35px;
}

.social-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

footer a {
  color: white;
}

.btn {
  border: solid 2px #0282F9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}

.social-box span {
  color: #0282F9;
  font-size: 20px;
  font-weight: 700;
}